@model IEnumerable<QLKTXWEBSITE.Models.BedOfRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<div id="studentDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin sinh viên</h4>
            </div>
            <div class="modal-body" id="studentDetails">

            </div>
        </div>
    </div>
</div>
<h1>Danh sách các giường của phòng</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo giường mới</a>
</p>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model)
            {
            
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="position-absolute" style="top: 10px; right: 10px;">
                            <a asp-action="Edit" asp-route-id="@item.BedId" class="btn btn-sm btn-primary">Sửa</a>
                            <a asp-action="Delete" asp-route-id="@item.BedId" class="btn btn-sm btn-danger">Xoá</a>
                        </div>
                        <img src="~/img/logogiuong.jpg" class="card-img-top" alt="Bed Image" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Giường số: @Html.DisplayFor(modelItem => item.NumberBed)</h5>
                            <br />
                            @if (item.Status == true)
                            {
                                <a href="#" class="btn btn-primary btn-block btn-details" data-bed-id="@item.BedId">Thông tin sinh viên</a>
                            }
                            else
                            {
                                <input type="hidden" name="bedId" value="@item.BedId" />
                                <a asp-action="ListStudentBed" asp-route-bedId="@item.BedId" asp-route-roomId="@item.RoomId" class="btn btn-warning btn-block">Chọn sinh viên</a>
                            }
                        </div>
                    </div>
                </div>
            
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-details').click(function (e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ
                var bedId = $(this).data('bed-id');

                // Sử dụng AJAX để tải dữ liệu chi tiết của sinh viên
                $.get('/Students/DetailsPop', { id: bedId })
                    .done(function (data) {
                        // Hiển thị dữ liệu chi tiết trong modal
                        $('#studentDetails').html(data);
                        $('#studentDetailsModal').modal('show');
                    })
                    .fail(function () {
                        alert('Không thể tải chi tiết sinh viên.');
                    });
            });
        });
    </script>
}

