@model IEnumerable<QLKTXWEBSITE.Models.BedOfRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Danh sách các giường của phòng</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo giường mới</a>
</p>
<div class="row mb-5">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="position-absolute" style="top: 10px; right: 10px;">
                    <a asp-action="Edit" asp-route-id="@item.BedId" class="btn btn-sm btn-primary">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.BedId" class="btn btn-sm btn-danger">Xoá</a>
                </div>
                <img src="~/img/logogiuong.jpg" class="card-img-top" alt="Bed Image" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Giường số: @Html.DisplayFor(modelItem => item.NumberBed)</h5>
                    @if (item.Status == false)
                    {
                        <a asp-controller="Students" asp-action="ListStudentBed" asp-route-bedId="@item.BedId" class="btn btn-warning btn-block">Chọn sinh viên</a>
                    }
                    else
                    {
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@item.BedId" class="btn btn-primary btn-block">Thông tin sinh viên</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
