@model IEnumerable<QLKTXWEBSITE.Models.Student>

@{
    ViewData["Title"] = "ListStudentBed";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="my-4">Danh sách các sinh viên chưa có giường</h1>
<form asp-action="ListStudentBed" method="get">
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Gender:</label>
        <select asp-for="Gender" class="form-control">
            <option value="">-- Select Gender --</option>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Mã sinh viên</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentCode)</td>
                <td>
                    <form asp-action="ChooseBed" method="post">
                        <input type="hidden" name="studentId" value="@item.StudentId" />
                        <input type="hidden" name="bedId" value="@ViewBag.BedId" />
                        <button type="submit" class="btn btn-primary btn-sm">Chọn</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>