@model QLKTXWEBSITE.Models.Room

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}


<h5>Bạn có chắc chắn muốn xoá không?</h5>
<div class="card border-dark col-md-3">
    <div>
        <h5 class="text-center mt-4">Phòng @Html.DisplayFor(model => model.NumberRoom)</h5>
        <hr />
    </div>
    <div class="col-6">
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Phòng</p>
            </div>
            <div>
                <p>@Html.DisplayFor(model => model.Mowroom)</p>
            </div>
        </div>
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Tòa</p>
            </div>
            <div>
                <p>@Html.DisplayFor(model => model.Building)</p>
            </div>
        </div>
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Tầng</p>
            </div>
            <div>
                <p>@Html.DisplayFor(model => model.Floor)</p>
            </div>
        </div>
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Số giường</p>
            </div>
            <div>
                <p>@Html.DisplayFor(model => model.BedNumber)</p>
            </div>
        </div>
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Số sinh viên</p>
            </div>
            <div>
                <p>@ViewData["NumberOfStudents"]</p>
            </div>
        </div>
        <div class="d-flex ms-2">
            <div style="width:7rem">
                <p class="me-3 fw-bold">Trạng thái</p>
            </div>
            <div>
                <p>@ViewData["Status"]</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="RoomId" />
                <button type="submit" class="btn btn-danger">Xoá</button>
            </form>
    </div>
</div>
<a asp-action="Index" class="btn btn-secondary">Quay lại Danh sách</a>