@model QLKTXWEBSITE.Models.Service

@{
    ViewData["Title"] = "Xóa dịch vụ";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Xóa dịch vụ</h1>

<h3>Bạn có chắc chắn muốn xóa dịch vụ này?</h3>
<div class="container">
    <h4>Dịch vụ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Phòng số
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.NumberRoom)
        </dd>
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt class="col-sm-2">
            Tên dịch vụ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class="col-sm-2">
            Tháng (Năm 2024)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Month)/2024
        </dd>
        <dt class="col-sm-2">
            Số tiền thanh toán
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
           Trạng thái
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == true)
            {
                <text>Đã thanh toán</text>
            }
            else
            {
                <text>Chưa thanh toán</text>
            }
        </dd>
    </dl>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ServiceId" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
