@model IEnumerable<QLKTXWEBSITE.Models.Service>

@{
    ViewData["Title"] = "Danh sách dịch vụ";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Danh sách dịch vụ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus fa-xl me-2"></i>Tạo mới</a>
</p>
<form method="get">
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="studentName" class="form-label">Tên sinh viên:</label>
            <input type="text" class="form-control" id="studentName" name="studentName">
        </div>
        <div class="col-md-3">
            <label for="serviceName" class="form-label">Tên dịch vụ:</label>
            <select class="form-select" id="serviceName" name="serviceName">
                <option value="">Tất cả</option>
                <option value="Điện">Dịch vụ điện</option>
                <option value="Nước">Dịch vụ nước</option>
            </select>

        </div>
        <div class="col-md-3">
            <label for="month" class="form-label">Tháng:</label>
            <select class="form-select" id="month" name="month">
                <option value="">Tất cả</option>
                <option value="1">Tháng 1/2024</option>
                <option value="2">Tháng 2/2024</option>
                <option value="3">Tháng 3/2024</option>
                <option value="4">Tháng 4/2024</option>
                <option value="5">Tháng 5/2024</option>
                <option value="6">Tháng 6/2024</option>
                <option value="7">Tháng 7/2024</option>
                <option value="8">Tháng 8/2024</option>
                <option value="9">Tháng 9/2024</option>
                <option value="10">Tháng 10/2024</option>
                <option value="11">Tháng 11/2024</option>
                <option value="12">Tháng 12/2024</option>

            </select>
        </div>
        <div class="col-md-3">
            <label for="status" class="form-label">Trạng thái:</label>
            <select class="form-select" id="status" name="status">
                <option value="">Tất cả</option>
                <option value="true">Đã thanh toán</option>
                <option value="false">Chưa thanh toán</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary mt-4">Tìm kiếm</button>
        </div>
    </div>
</form>
<table class="table mt-4 table-striped mb-5">
    <thead class="thead-dark ">
        <tr>
            <th>
                <div class="ms-3">
                    Phòng
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Sinh viên
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Dịch vụ
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Tháng
                    </p>
                </div>

            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Giá
                    </p>
                </div>

            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Trạng thái
                    </p>
                </div>

            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Hành động
                    </p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center ms-3" style="height:38px">
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.Room.NumberRoom)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Student.FullName)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.ServiceName)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Month)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Price) VND</p>
                    </div>
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-success">Đã thanh toán</p>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-danger">Chưa thanh toán</p>
                        </div>
                    }
                </td>


                <td>
                    <div class=" d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-primary">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-success mx-3">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-danger">Xoá</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
