@model IEnumerable<QLKTXWEBSITE.Models.Service>

@{
    ViewData["Title"] = "Danh sách dịch vụ";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Danh sách dịch vụ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                Sinh viên
            </th>
            <th>
                Dịch vụ
            </th>
            <th>
                Tháng
            </th>
            <th>
                Giá
            </th>
            <th>
                Trạng thái
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.NumberRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-primary">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-info">Chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
