 @model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Thông tin tài khoản";
}


<div class="">
    <div class="col-md-9">
        <div>
            <h1>Thông tin sinh viên</h1>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">Họ và tên:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.FullName)</dd>

            <dt class="col-sm-5">Ngày sinh:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.DateOfBirth)</dd>

            <dt class="col-sm-5">Giới tính:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Gender)</dd>

            <dt class="col-sm-5">Số điện thoại:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <dt class="col-sm-5">Số điện thoại phụ huynh:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.ParentPhoneNumber)</dd>

            <dt class="col-sm-5">Email:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-5">Mã sinh viên:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.StudentCode)</dd>

            <dt class="col-sm-5">Lớp:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Class)</dd>

            <dt class="col-sm-5">Giấy xác nhận nhập học:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.AdmissionConfirmation)</dd>

            <dt class="col-sm-5">Ngành:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Department.DepartmentName)</dd>

            <dt class="col-sm-5">Khoá:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Dh.Dhcode)</dd>

            <dt class="col-sm-5">Phòng Số:</dt>
            <dd class="col-sm-7">@Html.DisplayFor(model => model.Room.NumberRoom)</dd>


        </dl>
    </div>
</div>

<div>

    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary btn-sm"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">
            Sửa thông tin
    </a>
    <a asp-action="ChangePassword" asp-route-id="@Model?.StudentId" class="btn btn-primary btn-sm"
            style="padding-left: 2.5rem; padding-right: 2.5rem">
            Đổi mật khẩu
    </a>
    <a asp-controller="Login" asp-action="Logout" class="btn btn-primary btn-sm"
       style="padding-left: 2.5rem; padding-right: 2.5rem">
            Đăng xuất
    </a>
</div>