@model List<List<QLKTXWEBSITE.Models.Room>>
<style>
    .disabled-room {
        pointer-events: none;
        cursor: not-allowed;
        background-color: #ffcccc;
        height:70px;
        font-size: 20px;
    }

    .enabled-room {
        background-color: #ccffcc; /* Màu xanh */
        height: 70px;
        font-size:20px;
    }
</style>
<div class="row" style="height:400px">
    <h1>Ký túc xá HUNRE</h1>
    <div class="col-md-4">
        <h3 style="text-align:center">Toà D</h3>
        <div class="row" >
            @foreach (var room in Model[0])
            {
                <div class="col-md-2 @if(room.Status == true) { <text>disabled-room</text> }else{<text>enabled-room</text>}">
                    <a href="#" class="room-link"  data-room-id="@room.RoomId">P.@room.NumberRoom</a>

                </div>
                <!-- Hiển thị các thông tin khác của phòng -->
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center">Toà E</h3>
        <div class="row">
            @foreach (var room in Model[1])
            {
                <div class="col-md-2">
                    <a href="#" class="room-link" data-room-id="@room.RoomId">@room.NumberRoom</a>

                </div>
                <!-- Hiển thị các thông tin khác của phòng -->
            }
        </div>
    </div>
    <div class="col-md-4"> 
        <h3 style="text-align:center">Toà G</h3>
        <div class="row">
            @foreach (var room in Model[2])
            {
                <div class="col-md-2">
                    <a href="#" class="room-link" data-room-id="@room.RoomId">@room.NumberRoom</a>

                </div>
                <!-- Hiển thị các thông tin khác của phòng -->
            }
        </div>
    </div>
</div>
<div id="beds-container"></div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.room-link').click(function () {
                var roomId = $(this).data('room-id');

                $.ajax({
                    url: '@Url.Action("GetBeds", "Home")',
                    type: 'GET',
                    data: { RoomId: roomId },
                    success: function (data) {
                        $('#beds-container').html(data);
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi tải danh sách giường.');
                    }
                });
            });
        });
    </script>
}