@model IEnumerable<QLKTXWEBSITE.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary">Tạo quản lý mới</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Họ và tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AdminId" class="btn btn-primary">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.AdminId" class="btn btn-info">Xem chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.AdminId" class="btn btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
