@model IEnumerable<QLKTXWEBSITE.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Tin tức</h1>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4 mb-4">
                    <div class="card" style="width:100%; height:450px">
                        <div class="py-3">
                            <img src="@item.Author" alt="@item.Title" class="mb-0 w-100 text-center" style="width:100%; height:190px; border-radius:5px;" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <div class="w-100" style="height:100px;overflow: hidden;text-overflow: ellipsis;">
                                <p class="card-text fw-normal" style="text-align:justify">@Html.DisplayFor(modelItem => item.Content)</p>
                            </div>
                            <p class="card-text float-end" style="font-size:0.6rem; color:#ccc;">@Html.DisplayFor(modelItem => item.PublishedDate)</p>
                            <br />
                            <a asp-controller="News" asp-action="Details" asp-route-id="@item.NewsId" class="btn btn-primary">Xem thêm</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        cài ở đây những hình ảnh cứng rồi gắn url nhwu trang "https://hunre.edu.vn/tin-tuc"
    </div>
</div>