@model QLKTXWEBSITE.Models.News

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa bài viết này không?</h3>
<div class="container">
    <h4>Tin tức</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NewsId" />
        <button type="submit" class="btn btn-danger">Xóa</button> 
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>
