@model IEnumerable<QLKTXWEBSITE.Models.News>

@{
    ViewData["Title"] = "Danh sách";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Ngày xuất bản
                </th>
                <th>
                    Ảnh
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NewsId" class="btn btn-primary">Sửa</a> 
                        <a asp-action="Details" asp-route-id="@item.NewsId" class="btn btn-info">Chi tiết</a> 
                        <a asp-action="Delete" asp-route-id="@item.NewsId" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
