@model IEnumerable<QLKTXWEBSITE.Models.News>

@{
    ViewData["Title"] = "Danh sách";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>Tạo tin tức mới</a>
</p>
<form method="get">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="title" class="form-label">Tiêu đề:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary mt-4">Tìm kiếm</button>
        </div>
    </div>
</form>
<table class="table mb-5">
    <thead class="thead-dark ">
        <tr>
            <th>
                <div class="ms-3">
                    <p class="mb-0">
                        Tiêu đề
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Ngày tạo
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Ảnh
                    </p>
                </div>

            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Hành động
                    </p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr> 
                <td>
                    <div class="d-flex align-items-center ms-3" style="height:74px">
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.Title)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:74px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.PublishedDate)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:74px">
                        <img src="@item.Author" alt="@item.Title" class="mb-0 w-100 text-center" width="100px" height="100px"/>
                    </div>
                </td>
                <td>
                    <div class=" d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.NewsId" class="btn btn-primary">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.NewsId" class="btn btn-success mx-3">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.NewsId" class="btn btn-danger">Xoá</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

