@model QLKTXWEBSITE.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4><a asp-action="Index">Trở lại</a></h4>
    <hr />
        <div>
        <img src="@Model.Author" alt="@Model.Title" width="800px" height="100%" />
        </div>

        <div>
            @Html.DisplayFor(model => model.Content)
        </div>

        <div>
            @Html.DisplayFor(model => model.PublishedDate)
        </div>      
    </dl>
</div>
