@model QLKTXWEBSITE.Models.Student
<style>
    .popup-tb .row:hover {
        background-color: #f2f2f2;

    }
    .popup-tb .row{
        align-items:center;
    }
    .popup-tb .row p{
       margin:0 0;
       padding: 0.6rem 0;
        
    }
</style>
<div>
    <h4>Thông tin sinh viên</h4>
    <hr style="color:green" />
    <div class="mx-4 popup-tb">
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Họ và tên</p>
            </div>
            <div class="col-md-8">
                <p>@Model.FullName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Ngày sinh</p>
            </div>
            <div class="col-md-8">
                <p>@Model.DateOfBirth</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Giới tính</p>
            </div>
            <div class="col-md-8">
                <p>@Model.Gender</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Số điện thoại</p>
            </div>
            <div class="col-md-8">
                <p>@Model.PhoneNumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Số điện thoại phụ huynh</p>
            </div>
            <div class="col-md-8">
                <p>@Model.ParentPhoneNumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Email</p>
            </div>
            <div class="col-md-8">
                <p>@Model.Email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Mã sinh viên</p>
            </div>
            <div class="col-md-8">
                <p>@Model.StudentCode</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Lớp</p>
            </div>
            <div class="col-md-8">
                <p>@Model.Class</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Giấy xác nhận nhập học</p>
            </div>
            <div class="col-md-8">
                <p>@Model.AdmissionConfirmation</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Ngành học</p>
            </div>
            <div class="col-md-8">
                <p>@Model.Department</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">Khóa</p>
            </div>
            <div class="col-md-8">
                <p>@Html.DisplayFor(model => model.Dh.Dhcode)</p>
            </div>
        </div>
        
    </div>
</div>