@model QLKTXWEBSITE.Models.Occupancy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Hợp đồng gia hạn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt class="col-sm-2">
            Phòng số
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.NumberRoom)
        </dd>
        <dt class = "col-sm-2">
            Ngày bắt đầu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenewalDate)
        </dd>
        <dt class = "col-sm-2">
            Ngày kết thúc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            Số tháng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CycleMonths)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OccupancyId">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
