@model IEnumerable<QLKTXWEBSITE.Models.Occupancy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Quản lý hợp đồng</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> <i class="fa-solid fa-circle-plus fa-xl me-2"></i>Tạo hơp đồng mới</a>
</p>
<p>
    <a asp-action="SendEmailToOccupants" class="btn btn-primary"><i class="fa-regular fa-paper-plane fa-xl me-2"></i> Gửi Email tới Cư dân</a>
</p>


<table class="table mt-4 table-striped">
    <thead class="thead-dark ">
        <tr>
            <th>
                <div class="ms-3">
                    <p class="mb-0">
                        Họ và tên
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Email
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        @Html.DisplayNameFor(model => model.RenewalDate)
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        @Html.DisplayNameFor(model => model.ExpirationDate)
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        @Html.DisplayNameFor(model => model.CycleMonths)
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                         Phòng số
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Trạng thái
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Hành động
                    </p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center ms-3" style="height:38px">
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.Student.FullName)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Student.Email)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.RenewalDate)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.CycleMonths)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Room.NumberRoom)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Status)</p>
                    </div>
                </td>
                <td>
                    <div class=" d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.OccupancyId" class="btn btn-primary">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.OccupancyId" class="btn btn-success mx-3">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.OccupancyId" class="btn btn-danger">Xoá</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
