@model IEnumerable<QLKTXWEBSITE.Models.Occupancy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="SendEmailToOccupants">Gửi Email tới Cư dân</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>
                @Html.DisplayNameFor(model => model.RenewalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleMonths)
            </th>
            <th>
                Phòng số
            </th>
            <th>
               Trạng thái
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.Student.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Student.Email)</td>
            <td>
                @Html.DisplayFor(modelItem => item.RenewalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleMonths)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Room.NumberRoom)

            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OccupancyId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.OccupancyId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.OccupancyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
