@model IEnumerable<QLKTXWEBSITE.Models.Occupancy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Quản lý hợp đồng</h1>


<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>Tạo hợp đồng gia hạn mới</a>
</p>
<p>
    <a asp-action="SendEmailToOccupants" class="btn btn-primary"><i class="fa-regular fa-paper-plane fa-xl me-2"></i> Gửi Email tới sinh viên</a>
</p>

<div class="col-md-6 mb-2">
    <form action="" method="get" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="keyword">Tìm kiếm theo tên sinh viên:</label>
            <input class="form-control" name="name" id="keyword" placeholder="Nhập tên sinh viên">
        </div>
        <div class="form-group mr-2 ms-3">
            <label for="status">Tìm kiếm theo trạng thái:</label>
            <select id="status" name="status" class="ms-2 form-control">
                <option value="">Tất cả</option>
                <option value="paid">Đã thanh toán</option>
                <option value="unpaid">Chưa thanh toán</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-search"></i> Tìm kiếm</button>
    </form>
</div>
<table class="table mt-4 table-striped mb-5">
    <thead class="thead-dark ">
        <tr>
            <th>
                <div class="ms-3">
                    <p class="mb-0">
                        Họ và tên
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Email
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Ngày bắt đầu
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Ngày kết thúc
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Số tháng
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                         Phòng số
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Trạng thái
                    </p>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <p class="mb-0">
                        Hành động
                    </p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center ms-3" style="height:38px">
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.Student.FullName)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Student.Email)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.RenewalDate)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.CycleMonths)</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="height:38px">
                        <p class="mb-0 w-100 text-center">@Html.DisplayFor(modelItem => item.Room.NumberRoom)</p>
                    </div>
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-success">Đã thanh toán</p>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-danger">Chưa thanh toán</p>
                        </div>
                    }
                </td>
                <td>
                    <div class=" d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.OccupancyId" class="btn btn-primary">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.OccupancyId" class="btn btn-success mx-3">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.OccupancyId" class="btn btn-danger">Xoá</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
