@model IEnumerable<QLKTXWEBSITE.Models.Student>
@{
    ViewData["Title"] = "Danh sách sinh viên";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}
<style>
    /* Tùy chỉnh cho trang danh sách sinh viên */
    h1 {
        margin-bottom: 20px;
    }

    .btn-primary,
    .btn-info,
    .btn-danger {
        margin-right: 5px;
    }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .table th {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .table td {
        font-size: 14px;
        text-align: center;
    }

    .table-responsive {
        margin-bottom: 20px;
    }

</style>

<h1>Danh sách sinh viên chưa gia hạn hợp đồng</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Số điện thoại phụ huynh</th>
                <th>Email</th>
                <th>Mật khẩu</th>
                <th>Mã sinh viên</th>
                <th>Lớp</th>
                <th>Xác nhận nhập học</th>
                <th>Giường</th>
                <th>Phòng</th>
                <th>Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParentPhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                    <td>@Html.DisplayFor(modelItem => item.StudentCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.Class)</td>
                    <td>@Html.DisplayFor(modelItem => item.AdmissionConfirmation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bed.BedId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Room.RoomId)</td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.StudentId">Chỉnh sửa</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StudentId">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
