@model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Bạn có chắc chắn muốn xóa sinh viên này?</h3>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin sinh viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">Họ và tên:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.FullName)</dd>

        <dt class="col-sm-5">Ngày sinh:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt class="col-sm-5">Giới tính:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.Gender)</dd>

        <dt class="col-sm-5">Số điện thoại:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-5">Email:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-5">Mã sinh viên:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.StudentCode)</dd>

        <dt class="col-sm-5">Lớp:</dt>
        <dd class="col-sm-7">@Html.DisplayFor(model => model.Class)</dd>
    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-6">
        <div class="col-md-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="StudentId" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                
            </form>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
