@model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Sửa Thông tin</h1>

<div class="container">
    <h4>Thông tin sinh viên</h4>
    <hr />

    <form asp-action="Edit">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="StudentId" />

                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Họ và tên</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label">Ngày sinh</label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Gender" class="control-label">Giới tính</label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ParentPhoneNumber" class="control-label">Số điện thoại phụ huynh</label>
                    <input asp-for="ParentPhoneNumber" class="form-control" />
                    <span asp-validation-for="ParentPhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label">Mật khẩu</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentCode" class="control-label">Mã sinh viên</label>
                    <input asp-for="StudentCode" class="form-control" />
                    <span asp-validation-for="StudentCode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                
                <div class="form-group">
                    <label asp-for="Class" class="control-label">Lớp</label>
                    <input asp-for="Class" class="form-control" />
                    <span asp-validation-for="Class" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AdmissionConfirmation" class="control-label">Giấy xác nhận</label>
                    <input asp-for="AdmissionConfirmation" class="form-control" />
                    <span asp-validation-for="AdmissionConfirmation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dhid" class="control-label">Khoá</label>
                    <select asp-for="Dhid" class="form-control">
                        <option value="">-- Chọn khoá --</option>
                        @if (ViewData["DhCodes"] != null)
                        {
                            foreach (var dh in ViewData["DhCodes"] as IEnumerable<Dh>)
                            {
                                <option value="@dh.Dhid">@dh.Dhcode</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Dhid" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label">Khoa</label>
                    <select asp-for="DepartmentId" class="form-control">
                        <option value="">-- Chọn khoa --</option>
                        @foreach (var d in ViewData["DepartmentNames"] as IEnumerable<Department>)
                        {
                            <option value="@d.DepartmentId">@d.DepartmentName</option>
                        }
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Phòng</label>
                <select asp-for="RoomId" class="form-control">
                    <option value="">-- Chọn phòng --</option>
                    @foreach (var room in ViewData["RoomNumbers"] as IEnumerable<Room>)
                    {
                        <option value="@room.RoomId">@room.NumberRoom</option>
                    }
                </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BedId" class="control-label">Giường</label>
                <select asp-for="BedId" class="form-control">
                    <option value="">-- Chọn giường --</option>
                    @foreach (var bed in ViewData["BedNumbers"] as IEnumerable<BedOfRoom>)
                    {
                        <option value="@bed.BedId">@bed.NumberBed</option>
                    }
                </select>
                <span asp-validation-for="BedId" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2">
                <input type="submit" value="Lưu" class="btn btn-primary btn-block" />
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-secondary btn-block">Quay lại danh sách</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
