@model IEnumerable<QLKTXWEBSITE.Models.Student>

@{
    ViewData["Title"] = "ListStudentBed";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>ListStudentBed</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input type="hidden" name="bedId" value="@ViewData["bedId"]" />
<form method="get" class="form-inline">
    <div class="form-group mr-2">
        <label for="gender">Giới tính:</label>
        <select id="gender" name="gender" class="form-control">
            <option value="">Tất cả</option>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCode)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            <td>
                    <form asp-action="ChooseBed" asp-controller="Students" method="post">
                        <input type="hidden" name="studentId" value="@item.StudentId" />
                        <input type="hidden" name="bedId" value="@ViewData["bedId"]" />
                        <button type="submit" class="btn btn-primary btn-sm">Chọn</button>
                    </form>
             </td>
        </tr>
}
    </tbody>
</table>
