@model IEnumerable<QLKTXWEBSITE.Models.Occupancy>

@{
    ViewData["Title"] = "Hợp đồng";
}
@{
    // Lấy ngày hiện tại
    DateTime currentDate = DateTime.Today;

    // Tìm ngày `ExpirationDate` gần nhất trong danh sách các hợp đồng
    DateTime? nearestExpirationDate = Model.Select(x => x.ExpirationDate).OrderByDescending(x => x).FirstOrDefault();

    // Kiểm tra xem ngày hiện tại có quá 1 tháng so với ngày gần nhất không
    bool isPastOneMonth = nearestExpirationDate != null && currentDate > nearestExpirationDate.Value.AddMonths(1);
    bool hasRoom = Model.Any(x => x.RoomId != null);
}

@if (hasRoom)
{
    <div class="container">
        <h1 class="mt-5 text-center">Danh sách các hợp đồng gia hạn</h1>

        @if (!isPastOneMonth)
        {
            <p>
                <a class="btn btn-primary mb-3" asp-action="Create" asp-route-studentId="@Context.Session.GetInt32("StudentId")">Tạo hợp đồng mới</a>
            </p>
        }

        <table class="table table-striped" style="border: 2px dashed #ccc;  border-radius:5px;">
            <thead>
                <tr>
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Số Tháng</th>
                    <th scope="col" class="text-center">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RenewalDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.ExpirationDate?.ToString("dd/MM/yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.CycleMonths)</td>
                        <td class="text-center">
                            @if (item.Status == true)
                            {
                                <span class="btn btn-success ">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="btn btn-danger ">Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.OccupancyId">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
            <p>Hiện tại bạn chưa có phòng ở. Vui lòng đăng ký phòng và giường.</p>
        </div>
    </div>
}
